@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rye&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --prima-text: #f6f4f3;
  --prima-textDark: #1f1300;

  --prima-brown: #d1603d;
  --prima-golden: #d5a536;
  --prima-oliven: #6a743c;
  --prima-walnut: #4f3824;
  --prima-grey: #4f3824;

  --second-brown: #ea7317;
  --second-golden: #edbf85;
  --second-oliven: #cae2bc;
  --second-walnut: #b7b3a1;
  --second-grey: #c7ccb9;

  --second-beerOne: #f9d648;
  --second-beerTwo: #efb700;
  --second-beerThree: #f4b400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 600;
}

body {
  cursor: url(beer.png);
  font-family: "Epunda-Slab";
  color: var(--second-beerOne);
  background-color: var(--prima-textDark);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Rye";
  font-weight: 700;
}
h1 {
  font-size: 5rem;
  color: var(--second-beerThree);
  margin-bottom: 20px;
}
h2 {
  font-size: 4rem;
  color: var(--prima-textDark);
  margin-bottom: 20px;
}
h3 {
  font-size: 3rem;
  color: var(--second-beerThree);
}
h4 {
  font-size: 2rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--prima-text);
  font-size: 1rem;
  font-style: italic;
  padding: 10px;

}

a:hover {
  color: var(--second-beerThree);
  font-size: 2rem;
  border: 1px var(--second-beerThree) solid;
}

nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prima-textDark);
  opacity: 0.9;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.scroll{
  scroll-margin-top: 100px;

}


.hero {
  background-image: url("Tipsy\ Troll\ Tavern.png");
  height: 1025px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.motto {
  font-size: 1.5rem;
  color: var(--prima-text);
  padding-top: 350px;
  display: flex;
  justify-content: center;
}

.today {
  background-color: var(--second-beerThree);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.h2-today {
  border: solid 5px var(--prima-walnut);
  width: 900px;
  display: flex;
  justify-content: center;
}

.today-container {
  display: flex;
  background-color: var(--prima-textDark);
  width: 900px;
  padding: 20px;
}
.dream {
  width: 50%;
  line-height: 65px;
}

#imgbeer {
  height: 250px;
  width: 250px;
}

.hh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  background-color: var(--prima-textDark);
  color: var(--prima-text);
  border: dashed 6px var(--second-brown);
  border-radius: 85px;
  padding: 30px;
  margin-top: 60px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--second-beerTwo), 0 0 30px var(--second-beerTwo),
   0 0 40px var(--second-beerTwo), 0 0 50px var(--second-beerTwo), 0 0 60px var(--second-beerTwo);
 animation: glow 0.8s infinite alternate;
}

@keyframes glow{
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px var(--second-beerOne), 0 0 30px var(--second-beerOne),
      0 0 40px var(--second-beerOne), 0 0 50px var(--second-beerOne), 0 0 60px var(--second-beerOne);
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px var(--second-beerThree), 0 0 40px var(--second-beerThree),
      0 0 50px var(--second-beerThree), 0 0 60px var(--second-beerThree), 0 0 70px var(--second-beerOne), 0 0 80px var(--second-beerOne);
  }
}


.menus {
  background-color: var(--prima-grey);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hele-meny {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--second-beerOne);
  border: dashed 2px var(--prima-textDark);
}

.item-meny {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.width100 {
  width: 100%;
}

.meny-ramme {
  border: solid 2px var(--prima-textDark);
  line-height: 50px;
  padding: 15px;
}

.meny-pris {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.meny-pris > p {
  padding-left: 20px;
  font-weight: 600;
  color: var(--prima-textDark);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  line-height: 30px;
}
.us {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--prima-text);
}
.who {
  background-color: var(--second-beerThree);
  padding: 40px;
  margin: 20px;
}
.before {
  padding: 20px;
  border-radius: 20px;
}

.booking {
  background-color: var(--second-beerThree);
  color: var(--prima-textDark);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-items {
  display: flex;
  justify-content: space-between;
  background-color: var(--prima-grey);
  color: var(--prima-text);
  width: 400px;
  margin: 5px;
  padding: 10px;
}
label {
  height: 25px;
  padding: 10px;
}
input,
select,
textarea {
  min-width: 200px;
  width: 200px;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
button {
  padding: 10px;
  color: var(--prima-text);
  background-color: var(--prima-textDark);
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  font-family: "Rye";
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.contain {
  height: 100px;
  padding: 20px;
  margin-right: 20px;
  border: 2px solid var(--prima-text);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.foot2{
  display: flex;
  align-items: center;
  justify-content: center;
}

